<nav class="navbar sticky top navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-equally">
    <a class="navbar-brand" routerLink="home">Navbar</a>
    <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
    <a class="nav-link" routerLink="showBook">Show Books</a>
    <a class="nav-link" routerLink="add">Add Books</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div>
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="(username | async) ==''">
            <a class="nav-link" routerLink="login">login</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link btn btn-warning" (click)="logout()"  *ngIf="(username | async) !=''">logout</a>
          </li>
          <li class="nav-item">
          <small class="text-black">{{username | async}}</small>
          </li>
        </ul> 
      </div>
  </div>
</nav>